<% include ./partials/header.ejs %>



<% blogs.forEach(function(blog) { %>
				<div class="ui container main">
					<h1>Index Page</h1>
					<div class="caption">
							<h2><%= blog.title %></h2>
					</div>
					<div>
						<img class="ui medium image" src="<%= blog.image %>" alt="">
						<span><%= blog.created.toDateString() %> </span>
						<p><%- blog.body.substring(0, 100) %>...</p>
						<a class="ui big violet basic button" href="/blogs/<%= blog._id %>">Read more</a>

					</div>
				</div>
				<%	}); %>


<% include ./partials/footer.ejs %>